body {
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}

a[href], a[ng-click] {
	cursor: pointer;
}

.stage {
	position: relative;
	z-index: 10;
}

/* Branding {{{ */
.brand.brand-bond,
.brand.brand-iebh {
	display: block;
	position: fixed;
	opacity: 0.2;
	transition: opacity 1s;
	z-index: 0;
}

.brand.brand-bond:hover,
.brand.brand-iebh:hover {
	opacity: 1;
}

.brand.brand-bond {
	bottom: 10px;
	left: 10px;
	width: calc(273px / 2);
	height: calc(120px / 2);
	background: url('../img/bond-logo.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.brand.brand-iebh {
	bottom: 10px;
	right: 10px;
	width: 224px;
	height: calc(120px / 2);
	background: url('../img/iebh-logo.png');
	background-size: cover;
	background-repeat: no-repeat;
}
/* }}} */
