/**
* Generic CSS utlity library to nudge elements margins
*/
/* Margins - m-*-* {{{ */
.m--10 { margin: -10px; }
.m--5 { margin: -5px; }
.m-0 { margin: 0px; }
.m-1 { margin: 1px; }
.m-2 { margin: 2px; }
.m-3 { margin: 3px; }
.m-4 { margin: 4px; }
.m-5 { margin: 5px; }
.m-0 { margin: 0px; }
.m-10 { margin: 10px; }
.m-15 { margin: 15px; }
.m-20 { margin: 20px; }
.m-25 { margin: 25px; }

.m-t--10 { margin-top: -10px; }
.m-t--5 { margin-top: -5px; }
.m-t-0 { margin-top: 0px; }
.m-t-1 { margin-top: 1px; }
.m-t-2 { margin-top: 2px; }
.m-t-3 { margin-top: 3px; }
.m-t-4 { margin-top: 4px; }
.m-t-5 { margin-top: 5px; }
.m-t-10 { margin-top: 10px; }
.m-t-15 { margin-top: 15px; }
.m-t-20 { margin-top: 20px; }
.m-t-25 { margin-top: 25px; }

.m-r--10 { margin-right: -10px; }
.m-r--5 { margin-right: -5px; }
.m-r-0 { margin-right: 0px; }
.m-r-1 { margin-right: 1px; }
.m-r-2 { margin-right: 2px; }
.m-r-3 { margin-right: 3px; }
.m-r-4 { margin-right: 4px; }
.m-r-5 { margin-right: 5px; }
.m-r-10 { margin-right: 10px; }
.m-r-15 { margin-right: 15px; }
.m-r-20 { margin-right: 20px; }
.m-r-25 { margin-right: 25px; }

.m-b-10 { margin-bottom: -10px; }
.m-b--5 { margin-bottom: -5px; }
.m-b-0 { margin-bottom: 0px; }
.m-b-1 { margin-bottom: 1px; }
.m-b-2 { margin-bottom: 2px; }
.m-b-3 { margin-bottom: 3px; }
.m-b-4 { margin-bottom: 4px; }
.m-b-5 { margin-bottom: 5px; }
.m-b-10 { margin-bottom: 10px; }
.m-b-15 { margin-bottom: 15px; }
.m-b-20 { margin-bottom: 20px; }
.m-b-25 { margin-bottom: 25px; }

.m-l--10 { margin-left: -10px; }
.m-l--5 { margin-left: -5px; }
.m-l-0 { margin-left: 0px; }
.m-l-1 { margin-left: 1px; }
.m-l-2 { margin-left: 2px; }
.m-l-3 { margin-left: 3px; }
.m-l-4 { margin-left: 4px; }
.m-l-5 { margin-left: 5px; }
.m-l-10 { margin-left: 10px; }
.m-l-15 { margin-left: 15px; }
.m-l-20 { margin-left: 20px; }
.m-l-25 { margin-left: 25px; }
/* }}} */
/* Padding - p-*-* {{{ */
.p--10 { padding: -10px; }
.p--5 { padding: -5px; }
.p-0 { padding: 0px; }
.p-1 { padding: 1px; }
.p-2 { padding: 2px; }
.p-3 { padding: 3px; }
.p-4 { padding: 4px; }
.p-5 { padding: 5px; }
.p-0 { padding: 0px; }
.p-10 { padding: 10px; }
.p-15 { padding: 15px; }
.p-20 { padding: 20px; }
.p-25 { padding: 25px; }

.p-t--10 { padding-top: -10px; }
.p-t--5 { padding-top: -5px; }
.p-t-0 { padding-top: 0px; }
.p-t-1 { padding-top: 1px; }
.p-t-2 { padding-top: 2px; }
.p-t-3 { padding-top: 3px; }
.p-t-4 { padding-top: 4px; }
.p-t-5 { padding-top: 5px; }
.p-t-10 { padding-top: 10px; }
.p-t-15 { padding-top: 15px; }
.p-t-20 { padding-top: 20px; }
.p-t-25 { padding-top: 25px; }

.p-r--10 { padding-right: -10px; }
.p-r--5 { padding-right: -5px; }
.p-r-0 { padding-right: 0px; }
.p-r-1 { padding-right: 1px; }
.p-r-2 { padding-right: 2px; }
.p-r-3 { padding-right: 3px; }
.p-r-4 { padding-right: 4px; }
.p-r-5 { padding-right: 5px; }
.p-r-10 { padding-right: 10px; }
.p-r-15 { padding-right: 15px; }
.p-r-20 { padding-right: 20px; }
.p-r-25 { padding-right: 25px; }

.p-b-10 { padding-bottom: -10px; }
.p-b--5 { padding-bottom: -5px; }
.p-b-0 { padding-bottom: 0px; }
.p-b-1 { padding-bottom: 1px; }
.p-b-2 { padding-bottom: 2px; }
.p-b-3 { padding-bottom: 3px; }
.p-b-4 { padding-bottom: 4px; }
.p-b-5 { padding-bottom: 5px; }
.p-b-10 { padding-bottom: 10px; }
.p-b-15 { padding-bottom: 15px; }
.p-b-20 { padding-bottom: 20px; }
.p-b-25 { padding-bottom: 25px; }

.p-l--10 { padding-left: -10px; }
.p-l--5 { padding-left: -5px; }
.p-l-0 { padding-left: 0px; }
.p-l-1 { padding-left: 1px; }
.p-l-2 { padding-left: 2px; }
.p-l-3 { padding-left: 3px; }
.p-l-4 { padding-left: 4px; }
.p-l-5 { padding-left: 5px; }
.p-l-10 { padding-left: 10px; }
.p-l-15 { padding-left: 15px; }
.p-l-20 { padding-left: 20px; }
.p-l-25 { padding-left: 25px; }
/* }}} */
